# Configuração do banco
MONGODB_URI=mongodb://127.0.0.1:27017/conecta
#Porta que vai rodar o NEST
PORT=3000

#Configuração do JWT
JWT_SECRET=chave-pra-assinar-o-jwt




# Pra criar o banco precisa instalar MongoDB Community Server(https://www.mongodb.com/try/download/community)
# Se quiser visualizar os dados -> MongoDB Compass Community (https://www.mongodb.com/try/download/compass)