# Configuração do banco
MONGODB_URI=mongodb://127.0.0.1:27017/conecta
#Porta que vai rodar o NEST
PORT=3000

#Configuração do JWT
JWT_SECRET=chave-pra-assinar-o-jwt

# Recuperação de conta por e-mail (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=lucassaleonline@gmail.com
MAIL_PASS=htai xreh fsjs usfr
MAIL_FROM=Conecta+ <lucassaleonline@gmail.com>
APP_RESET_URL=http://localhost:8081/redefinir-senha




# Pra criar o banco precisa instalar MongoDB Community Server(https://www.mongodb.com/try/download/community)
# Se quiser visualizar os dados -> MongoDB Compass Community (https://www.mongodb.com/try/download/compass)
